.wraper{
    /*width: 1260px;*/
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: 0 auto;
    background-color: #3a4965;
    font-family: "arimo", "sans-serif";
}
.shadow-left{
    box-shadow: -5px 1px 5px 1px rgba(5,5,5,0.12);
}
.shadow-right{
    box-shadow: 11px 7px 5px -6px rgba(5,5,5,0.13);
}
.icons{
    margin-right: 10px;
    color: #848484;
}
/*PADDING*/
.padding{
      vertical-align: middle;
}

/*header*/
.header {
     border-collapse: collapse;
    text-align: center;
    table-layout:fixed;
    width: 1143px;
}
.description-list{
    table-layout:fixed;
    height: 69px;
    font-size: 24px;
    text-transform: uppercase;
}
.description-text{
    display: block;
    font-size: 30px;
    color: #484848;
}
.description-list-descript{
    width: 310px;
    background-color: #fafafa;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;

}
.pricing-plan{
    vertical-align: middle;
}
.description-list:nth-child(1) .description-list-descript:nth-child(1) {
    color: #484848;
    font-size: 18px;
}
.description-list:nth-child(1) .description-list-descript:nth-child(2)
{
    background-color: #89c331;
}
.description-list:nth-child(1) .description-list-descript:nth-child(3) {
    background-color: #f04a56;
    font-size: 30px;
}

.description-list:nth-child(1) .description-list-descript:nth-child(4) {
    background-color: #20807c;
}

.description-price{
    box-sizing: border-box;
    height: 70px;
    font-weight: bold;
    background-color: #fafafa !important;
}
.description-item-price{
    font-size: 18px;
    text-transform: uppercase;


}
.description-item-price-large{
    font-size: 60px;
}
.description-item-price-text{
    font-weight: 400;
}
.description-item-price-large::after {
    content: ".99";
    font-size: 20px;
    vertical-align: super;
    display: inline-block;
    margin-right: -32px;

}

/*TBODY-ARTICLE*/
.article{

}
.article-storage, .article-bandwidth, .article-email, .article-support, .article-products, .article-users{
    height: 69px;
    font-size: 16px;
    text-transform: uppercase;
    color: #484848;
}
.article-storage-items{
    vertical-align: center;
}
tr:nth-child(odd) {background-color: #f2f2f2}
tr:nth-child(even) {background: #e3e3e3}

/*FOOTER*/
.footer-btn{
    height: 110px;
}

.standart{
    background-color: #89c331;
    outline: none;
    border: 1px solid #89c331;
}
.standart:hover{
    background-color: pink;
    transition: 1s;
}

.ultimate{
    background-color: #f04a56;
    outline: none;
    border: 1px solid #f04a56;
}
.ultimate:hover{
    background-color: purple;
    transition: 1s;
}
.premium{
    background-color: #20807c;
    outline: none;
    border: 1px solid #20807c;
}
.premium:hover{
    background-color: fuchsia;
    transition: 1s;
}
.contactus-btn{
    background-color: #484848;
    height: 49px;
    width: 192px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #484848;
    border-radius: 6px;
}
.contactus-btn:hover{
    background-color: darkred;
    transition: 1s;
}
.buynow-btn {
    height: 49px;
    width: 192px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}